#counter {
    font-size: 24px;
    margin: 40px 0px 10px 10px ;
 
}
.main
{
    background-color: #A1DD70;
    width: 340px;
    height: 250px;

    
    /* margin-left: 38rem; */
    margin-top: 50px;
}